---
import CustomImage from '@/components/shared/CustomImage.astro';
import type { ImageMetadata } from 'astro';

const hitsImgs = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/home/hits/*.{jpeg,jpg,png,gif}');

interface Slide {
  image: Promise<{ default: ImageMetadata }>;
  count: string;
}

const slides: Slide[] = [
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    count: '12 шт',
  },
];
---

<div class='splide order-slider' data-component='order-slider'>
  <div class='splide__track order-slider__wrapper'>
    <div class='splide__list order-slider__list'>
      {
        slides.map(({ image, count }) => (
          <div class='splide__slide order-slider__slide'>
            <div class='order-slider__image'>
              <CustomImage src={image} alt='image' />
            </div>
            <div class='order-slider__count'>
              {count}
              <span>.</span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style lang='scss'>
  .splide {
    &__track {
    }

    &__list {
    }

    &__slide {
    }
  }

  .order-slider {
    padding: 16px 0;
    border: 1px solid var(--light);
    border-radius: 8px;

    @include media('lg') {
      padding: 19px 0;
    }

    &__wrapper {
    }

    &__list {
    }

    &__slide {
    }

    &__image {
      position: relative;
      width: 52px;
      height: 80px;
      margin-bottom: 4px;

      @include media('lg') {
        width: 74px;
        height: 116px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__count {
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--secondary);
      text-align: center;

      @include media('lg') {
        font-size: 18px;
      }

      span {
        font-size: 10px;

        @include media('lg') {
          font-size: 14px;
        }
      }
    }
  }
</style>

<script>
  import Splide from '@splidejs/splide';

  const orderSlider = document.querySelector<HTMLDivElement>("[data-component='order-slider']");
  if (orderSlider) {
    new Splide(orderSlider, { arrows: false, pagination: false, autoWidth: true, gap: 4 }).mount();
  }
</script>
