---
import Accordion from '../ui/Accordion.astro';
import { accordions } from '../../constants/footer';
import type { HTMLAttributes } from 'astro/types';

type Props = Pick<HTMLAttributes<'footer'>, 'class'>;

const { class: className, ...rest } = Astro.props;
---

<footer class:list={['footer', className]} {...rest}>
  <div class='footer__container container'>
    <div class='footer__inner'>
      <div class='footer__accordions'>
        {accordions.map((accordion) => <Accordion {...accordion} data-footer-accordion />)}
      </div>
      <div class='footer__copyright copyright'>
        <p class='copyright__text'>2025 stayer-tex.ru © Все права защищены biznetman ® - создание сайта</p>
        <a href='#' class='copyright__link'>Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>

<style lang='scss'>
  .footer {
    &__container {
    }

    &__inner {
      padding: 8px 0 20px;

      @include media('lg') {
        padding: 8px 0 10px;
      }

      @include media('xl') {
        padding: 16px 0 12px;
      }
    }

    &__accordions {
      display: flex;
      flex-direction: column;
      gap: 4px;

      margin-bottom: 20px;

      @include media('lg') {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 30px;
      }

      @include media('xl') {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 38px;
      }
    }

    &__copyright {
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: var(--primary);
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 10px;

    @include media('lg') {
      flex-direction: row;
      justify-content: space-between;
      font-size: 12px;
    }

    @include media('xl') {
      font-size: 14px;
    }

    &__text {
    }

    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>

<script>
  import { getMediaCssParsedVariable, MediaSizes } from '@/utils/styles';

  const accordions = document.querySelectorAll('[data-footer-accordion]');
  accordions.forEach((item) => {
    item.addEventListener('click', () => {
      item.classList.add('touched');
    });
  });

  const accordionsCheck = () => {
    const windowWidth = window.innerWidth;
    accordions.forEach((accordion) => {
      if (!accordion.classList.contains('touched')) {
        if (!accordion.classList.contains('touched')) {
          if (windowWidth > getMediaCssParsedVariable(MediaSizes.LG)) {
            accordion.classList.add('open');
          } else {
            accordion.classList.remove('open');
          }
        }
      }
    });
  };

  accordionsCheck();
  window.addEventListener('resize', accordionsCheck);
</script>
