---
import { Icon } from 'astro-icon/components';
import Hamburger from './Hamburger.astro';
import HeaderModal from './HeaderModal.astro';
import { Picture } from 'astro:assets';

import logoImg from '@assets/img/logo.svg';
import type { HTMLAttributes } from 'astro/types';
import HeaderInput from './HeaderInput.astro';

type Props = Pick<HTMLAttributes<'header'>, 'class'>;

const { class: className, ...rest } = Astro.props;
---

<header class:list={['header', className]} data-component='header' {...rest}>
  <div class='header__container container'>
    <div class='header__wrapper'>
      <a href='/' class='header__logo'>
        <Picture inferSize layout='constrained' formats={['avif', 'webp']} src={logoImg} alt='logo' />
      </a>
      <div class='header__separator header__separator_first'></div>
      <div class='header__blocks'>
        <div class='header__top-block'>
          <HeaderInput />
          <div class='header__actions'>
            <a href='#' class='header__action'>
              <Icon name='account-icon' />
            </a>
            <a href='#' class='header__action'>
              <Icon name='cart-icon' />
            </a>
          </div>
        </div>
        <div class='header__separator header__separator_second'></div>
        <div class='header__bottom-block'>
          <Hamburger />
        </div>
      </div>
      <HeaderModal />
    </div>
  </div>
</header>

<style lang='scss'>
  .header {
    position: relative;
    overflow: hidden;

    &.open {
      overflow: visible;
    }

    &__wrapper {
      overflow: hidden;
      padding: 6px 0 0;
      padding-right: 0px;

      display: flex;
      align-items: center;
      gap: 4px;

      @include media('xl') {
        gap: 16px;
      }
    }

    &__logo {
      width: 104px;
      height: 62px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }

      @include media('lg') {
        width: 122px;
        height: 70px;
      }

      @include media('xl') {
        width: 166px;
        height: 88px;
      }
    }

    &__separator {
      display: none;

      background-color: var(--light-2);
      width: 1px;

      @include media('lg') {
        height: 68px;
      }

      @include media('xl') {
        height: 88px;
      }

      &_first {
        @include media('xl') {
          display: block;
        }
      }

      &_second {
        @include media('lg') {
          display: block;
        }
      }
    }

    &__blocks {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      overflow: hidden;

      @include media('lg') {
        flex-direction: row-reverse;
        gap: 16px;
      }
    }

    &__top-block {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 8px;
      padding-right: 8px;

      @include media('lg') {
        flex-grow: 1;
        gap: 16px;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 8px;

      @include media('lg') {
        align-self: flex-start;
      }
    }

    &__action {
      color: var(--primary);

      @include media('lg') {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        border-radius: 8px;
        border: 1px solid var(--light-2);
      }

      @include media('xl') {
        height: 40px;
        width: 40px;
      }

      svg {
        width: 20px;
        height: 20px;

        @include media('lg') {
          width: 16px;
          height: 16px;
        }

        @include media('xl') {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__bottom-block {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
</style>
