---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const props = Astro.props;
---

<div {...props} data-component='map'></div>

<script>
  async function initMap() {
    // @ts-ignore
    await ymaps3.ready;

    const maps = document.querySelectorAll("[data-component='map']").forEach((container) => {
      // @ts-ignore
      const { YMap, YMapDefaultSchemeLayer } = ymaps3;

      const map = new YMap(container, {
        location: {
          center: [37.588144, 55.733842],
          zoom: 10,
        },
      });

      map.addChild(new YMapDefaultSchemeLayer());
    });
  }

  initMap();
</script>
