---
import Breadcrumbs from '@/components/ui/Breadcrumbs.astro';
import Layout from '@/layouts/Layout.astro';

const path: string[] = ['Магазин мужской одежды', 'Пользовательское соглашение'];
---

<Layout>
  <div class='agreement'>
    <div class='agreement__container container'>
      <div class='agreement__wrapper'>
        <div class='agreement__top'>
          <Breadcrumbs path={path} />
          <h1 class='agreement__title page-title'>Пользовательское соглашение</h1>
        </div>
        <div class='agreement__content'>
          <p>
            Я, субъект персональных данных, в соответствии с Федеральным законом от 27 июля 2006 года № 152 «О
            персональных данных» предоставляю ООО «Стайер Текс» <i>(далее - Оператор)</i>, ИНН 3701047997, ОГРН
            1133701000014, расположенному по адресу 155250, Ивановская область, г.Родники, ул. Советская, д.4а, согласие
            на обработку персональных данных, указанных мной в форме веб-чата и/или в форме заказа обратного звонка на
            сайте в сети «Интернет», владельцем которого является Оператор.
          </p>
          <ol>
            <li>
              Состав предоставляемых мной персональных данных, в зависимости от документа <i
                >(анкета, заявление и т.п.)</i
              >
              включает, но не ограничиваются следующими: ФИО, дата рождения, пол, паспортные данные
              <i>(серия, номер, кем и когда выдан)</i>
              , адрес регистрации или пребывания <i>(фактический адрес проживания)</i>, номер контактного телефона,
              адрес электронной почты.
            </li>
            <li>
              Состав предоставляемых мной персональных данных, в зависимости от документа <i
                >(анкета, заявление и т.п.)</i
              >
              включает, но не ограничиваются следующими: ФИО, дата рождения, пол, паспортные данные
              <i>(серия, номер, кем и когда выдан)</i>
              , адрес регистрации или пребывания <i>(фактический адрес проживания)</i>, номер контактного телефона,
              адрес электронной почты.
            </li>
            <li>
              Согласие предоставляется на совершение следующих действий <i>(операций)</i> с указанными в настоящем согласии
              персональными данными: сбор, систематизацию, накопление, хранение, уточнение <i>(обновление, изменение)</i
              >, использование, передачу <i>(предоставление, доступ)</i>, блокирование, удаление, уничтожение,
              осуществляемых как с использованием средств автоматизации <i>(автоматизированная обработка)</i>, так и без
              использования таких средств <i>(неавтоматизированная обработка)</i>.
            </li>
            <li>
              Я понимаю и соглашаюсь с тем, что предоставление Оператору какой-либо информации о себе, не являющейся
              контактной и не относящейся к целям настоящего согласия, а равно предоставление информации, относящейся к
              государственной, банковской и/или коммерческой тайне, информации о расовой и/или национальной
              принадлежности, политических взглядах, религиозных или философских убеждениях, состоянии здоровья,
              интимной жизни запрещено.
            </li>
            <li>
              В случае принятия мной решения о предоставлении Оператору какой-либо информации <i>(каких-либо данных)</i>, я
              обязуюсь предоставлять исключительно достоверную и актуальную информацию и не вправе вводить Оператора в
              заблуждение в отношении своей личности, сообщать ложную или недостоверную информацию о себе.
            </li>
            <li>
              Я понимаю и соглашаюсь с тем, что Оператор не проверяет достоверность персональных данных, предоставляемых
              мной, и не имеет возможности оценивать мою дееспособность и исходит из того, что я предоставляю
              достоверные персональные данные и поддерживаю такие данные в актуальном состоянии.
            </li>
            <li>
              Согласие действует по достижении целей обработки или в случае утраты необходимости в достижении этих
              целей, если иное не предусмотрено федеральным законом.
            </li>
            <li>Согласие может быть отозвано мною в любое время на основании моего письменного заявления.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  .agreement {
    &__container {
    }

    &__wrapper {
      padding: 14px 0 44px;
    }

    &__top {
      margin-bottom: 8px;
    }

    &__title {
    }

    &__content {
      > * {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      p {
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--secondary);
      }

      ol {
        list-style-type: none;
        counter-reset: num;
        padding-left: 16px;

        li {
          position: relative;
          padding-left: 18px;

          font-family: var(--font-secondary);
          font-size: 14px;
          line-height: 16px;
          color: var(--secondary);

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          &::before {
            content: counter(num) '.';
            counter-increment: num;

            position: absolute;
            left: 0;
            top: 0;

            font-weight: 900;
            font-style: italic;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--primary);
          }
        }
      }
    }
  }
</style>
