:root {
  --dark: #333;
  --white: #fff;
  --primary: #a9987a;
  --secondary: #322d2a;
  --light: #f2ede8;
  --light-2: #e8e1d9;
  --light-3: #aca196;
  --light-4: #ddd6ca;

  --media-sm: 375px;
  --media-md: 768px;
  --media-lg: 1180px;
  --media-xl: 1440px;
  --media-xxl: 1920px;

  --font-primary: 'Sofia Sans Condensed Variable', sans-serif;
  --font-secondary: 'Source Sans 3 Variable', sans-serif;

  --header-height: 76px;

  @include media('md') {
    --header-height: 84px;
  }

  @include media('xl') {
    --header-height: 120px;
  }
}

.container {
  padding: 0 8px;

  @include media('lg') {
    padding: 0 16px;
  }
}

.splide__pagination {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: center;
  gap: 4px;

  .splide__pagination__page {
    width: 8px !important;
    height: 8px !important;
    border-radius: 100% !important;
    background-color: var(--white) !important;
    opacity: 100 !important;

    &.is-active {
      background-color: var(--primary) !important;
    }
  }
}

.title-block {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary);

  @include media('md') {
    font-size: 20px;
  }

  @include media('lg') {
    text-align: center;
  }

  @include media('xl') {
    font-size: 32px;
  }
}

.subtitle-block {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--primary);

  @include media('md') {
    font-size: 14px;
    line-height: 16px;
  }

  @include media('lg') {
    text-align: center;
  }
}

.page-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-style: italic;
  text-transform: uppercase;
  color: var(--secondary);
  margin-bottom: 12px;

  @include media('lg') {
    font-size: 32px;
  }

  @include media('xl') {
    font-size: 48px;
    line-height: 40px;
  }
}

.show-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: var(--primary);

  font-weight: 800;
  font-style: italic;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);

  @include media('md') {
    gap: 8px;
    display: inline-flex;
    margin: 0 auto;
    background-color: transparent;
    color: var(--secondary);
  }
}
