:root {
  --dark: #333;
  --white: #fff;
  --primary: #a9987a;
  --secondary: #322d2a;
  --light: #f2ede8;
  --light-2: #e8e1d9;
  --light-3: #aca196;

  --font-primary: 'Sofia Sans Condensed Variable', sans-serif;
  --font-secondary: 'Source Sans 3 Variable', sans-serif;
}

.container {
  padding: 0 8px;
}

.swiper-fix {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  box-sizing: border-box !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 100% !important;
  background-color: var(--white) !important;
  opacity: 100 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
}
