---
import type { Slide } from '@/components/ui/Slider.astro';
import Slider from '@/components/ui/Slider.astro';
import type { ImageMetadata } from 'astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Pick<HTMLAttributes<'div'>, 'class'> {
  title: string;
  description: string;
}

const { title, description, class: className, ...rest } = Astro.props;

const hitsImgs = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/home/hits/*.{jpeg,jpg,png,gif}');

const hitsSlides: Slide[] = [
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
];
---

<div class:list={['slider-section', className]} {...rest}>
  <div class='slider-section__content'>
    <h2 class='slider-section__title title-block'>{title}</h2>
    <p class='slider-section__subtitle subtitle-block'>{description}</p>
  </div>
  <Slider slides={hitsSlides} />
</div>

<style lang='scss'>
  .slider-section {
    &__content {
    }

    &__title {
      text-align: left;
    }

    &__subtitle {
      text-align: left;
    }
  }
</style>
