---
import type { Contact } from '../components/Contacts.astro';
import AboutBlock from '../components/AboutBlock.astro';
import Contacts from '../components/Contacts.astro';
import CategoryBlock from '../components/CategoryBlock.astro';
import type { CategoryImageProps } from '../components/CategoryImage.astro';
import CategoryImage from '../components/CategoryImage.astro';

interface Props {
  direction?: 'left' | 'right';
}

const { direction = 'left' } = Astro.props;

const previewHitsimages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/img/home/preview-hits/*.{jpeg,jpg,png,gif}'
);

const previewProps: CategoryImageProps = {
  backgroundImage: previewHitsimages['/src/assets/img/home/preview-hits/background.png'](),
  description: 'Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.',
};

const contacts: Contact[] = [
  { name: 'Татьяна', phone: '+7-906-512-25-55', email: 'mta37@stayer-tex.ru' },
  { name: 'Татьяна', phone: '+7-906-512-25-55', email: 'mta37@stayer-tex.ru' },
];
---

<CategoryBlock class='category-about-section' direction={direction}>
  <div slot='left' class='category-about-section__left'>
    <CategoryImage {...previewProps}>
      <Contacts class='category-about-section__contacts' contacts={contacts} />
    </CategoryImage>
  </div>
  <div slot='right' class='category-about-section__right right-category-about-section'>
    <AboutBlock />
  </div>
</CategoryBlock>

<style lang='scss'>
  .category-about-section {
    &__left {
      @include media('md') {
        margin: 0 -8px;
      }

      @include media('lg') {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__contacts {
      @include media('lg') {
        display: none;
      }
    }

    &__right {
      @include media('lg') {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .right-category-about-section {
    @include media('lg') {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 112px;
    }

    @include media('xl') {
      padding: 0 127px;
    }
  }
</style>
