---
import type { Contact } from '../components/Contacts.astro';
import AboutBlock from '../components/AboutBlock.astro';
import Contacts from '../components/Contacts.astro';
import CategoryBlock from '../components/CategoryBlock.astro';
import type { CategoryImageProps } from '../components/CategoryImage.astro';
import CategoryImage from '../components/CategoryImage.astro';

export interface CategoryAboutProps extends Omit<CategoryImageProps, 'slides' | 'tags' | 'description'> {
  direction?: 'left' | 'right';
}

type Props = CategoryAboutProps;

const { direction = 'left', ...props } = Astro.props;

const contacts: Contact[] = [
  { name: 'Татьяна', phone: '+7-906-512-25-55', email: 'mta37@stayer-tex.ru' },
  { name: 'Татьяна', phone: '+7-906-512-25-55', email: 'mta37@stayer-tex.ru' },
];
---

<CategoryBlock class='category-about-section' direction={direction}>
  <div slot='left' class='category-about-section__left'>
    <CategoryImage class='category-about-section__image' type='contacts' {...props}>
      <Contacts class='category-about-section__contacts' contacts={contacts} />
    </CategoryImage>
  </div>
  <div slot='right' class='category-about-section__right right-category-about-section'>
    <AboutBlock />
  </div>
</CategoryBlock>

<style lang='scss'>
  .category-about-section {
    margin-bottom: 48px;

    @include media('md') {
      margin-bottom: 40px;
    }

    @include media('lg') {
      margin-bottom: 72px;
    }

    @include media('xl') {
      margin-bottom: 80px;
    }

    &__left {
      @include media('md') {
        margin: 0 -8px;
      }

      @include media('lg') {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__contacts {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px;

      @include media('md') {
        display: none;
      }
    }

    &__right {
      @include media('lg') {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .right-category-about-section {
    @include media('lg') {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 112px;
    }

    @include media('xl') {
      padding: 0 127px;
    }
  }
</style>
