---
import ShowMoreCatalog from '@/components/ui/ShowMoreCatalog.astro';
import type { Slide } from '@/components/ui/Slider.astro';
import Slider from '@/components/ui/Slider.astro';

interface Props {
  slides: Slide[];
}

const { slides } = Astro.props;
---

<section class='hits-section'>
  <div class='hits-section__container container'>
    <div class='hits-section__wrapper'>
      <div class='hits-section__top'>
        <h2 class='hits-section__title title-block'>Летние Хиты для рыбалки и охоты</h2>
        <p class='hits-section__subtitle subtitle-block'>Текст комментария от нейросети для расшифровки</p>
      </div>
      <Slider class='hits-section__slider' slides={slides} />
      <div class='hits-section__bottom'>
        <ShowMoreCatalog />
      </div>
    </div>
  </div>
</section>

<style lang='scss'>
  .hits-section {
    margin-bottom: 40px;

    @include media('lg') {
      margin-bottom: 64px;
    }

    @include media('xl') {
      margin-bottom: 72px;
    }

    &__top {
      margin-bottom: 8px;

      @include media('lg') {
        margin-bottom: 12px;
      }
    }

    &__title {
      text-align: left !important;
    }

    &__subtitle {
      text-align: left !important;
    }

    &__slider {
      margin-bottom: 8px;

      @include media('md') {
        margin-bottom: 4px;
      }

      @include media('lg') {
        margin-bottom: 8px;
      }

      @include media('xl') {
        margin-bottom: 12px;
      }
    }

    &__bottom {
    }
  }
</style>
