---
import type { ImageMetadata } from 'astro';
import { Picture } from 'astro:assets';
import 'swiper/css';
import 'swiper/css/pagination';

export interface MainBannerSlide {
  image: string;
  title: string;
  subtitle: string;
}

const slides: MainBannerSlide[] = [
  {
    title: 'Производим в России Проверено природой',
    subtitle: 'Сделано для охоты, рыбалки и настоящей погоды',
    image: '/src/assets/img/home/banner/banner-slide-img.jpg',
  },
  {
    title: 'Производим в России Проверено природой',
    subtitle: 'Сделано для охоты, рыбалки и настоящей погоды',
    image: '/src/assets/img/home/banner/banner-slide-img.jpg',
  },
  {
    title: 'Производим в России Проверено природой',
    subtitle: 'Сделано для охоты, рыбалки и настоящей погоды',
    image: '/src/assets/img/home/banner/banner-slide-img.jpg',
  },
];

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/home/banner/*.{jpeg,jpg,png,gif}');
---

<section class='banner' data-component='main-banner'>
  <div class='banner__container container'>
    <div class='swiper swiper-fix'>
      <div class='swiper-wrapper'>
        {
          slides.map(({ title, image, subtitle }) => (
            <div class='swiper-slide banner-slide'>
              <div class='banner-slide__image'>
                <Picture inferSize layout='constrained' formats={['avif', 'webp']} src={images[image]()} alt='image' />
              </div>
              <div class='banner-slide__description'>
                <div class='banner-slide__description-inner'>
                  <div class='banner-slide__description-gradient' />
                  <div class='banner-slide__description-content'>
                    <h2 class='banner-slide__title'>{title}</h2>
                    <p class='banner-slide__subtitle'>{subtitle}</p>
                    <a href='#' class='banner-slide__button'>
                      Перейти в каталог
                    </a>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class='swiper-pagination'></div>
    </div>
  </div>
</section>

<style lang='scss'>
  .banner {
    margin-bottom: 8px;

    &__container {
    }
  }
  .swiper {
    overflow: visible;
  }
  .swiper-fix {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .banner-slide {
    width: 100%;
    aspect-ratio: 359 / 192;
    border-radius: 12px;
    overflow: hidden;

    &__image {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: flex;
      justify-content: flex-end;
    }

    &__description-inner {
      position: relative;
      padding-top: 36px;
      color: var(--white);
    }

    &__description-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      z-index: 30;
    }

    &__description-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, #000);
      z-index: 20;
      pointer-events: none;
      transform: rotate(-45deg) scale(2);
    }

    &__title {
      font-weight: 800;
      font-size: 16px;
      text-transform: uppercase;
      max-width: 160px;

      text-indent: -20px;
      margin-right: 16px;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 10px;
      max-width: 90px;

      text-indent: -16px;
      margin-right: 24px;
      margin-bottom: 8px;
    }

    &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px 8px;
      border-radius: 4px;
      background-color: var(--primary);
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;

      margin-right: 40px;
    }
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';

  const slider = document
    .querySelector<HTMLDivElement>("[data-component='main-banner']")
    ?.querySelector<HTMLDivElement>('.swiper');
  if (slider) {
    new Swiper(slider, {
      loop: true,
      spaceBetween: 8,
      pagination: { el: slider.querySelector<HTMLDivElement>('.swiper-pagination') },
      modules: [Pagination],
    });
  }
</script>
