---
import Question from '@/components/shared/Question.astro';
---

<section class='question'>
  <div class='question__container container'>
    <Question class='question__wrapper' />
  </div>
</section>

<style lang='scss'>
  .question {
    margin-bottom: 38px;

    @include media('md') {
      margin-bottom: 48px;
    }

    @include media('lg') {
      display: none;
    }

    &__container {
    }

    &__wrapper {
      background-color: var(--light);
      border-radius: 12px;
      padding: 8px;
    }
  }
</style>
