---
import Breadcrumbs from '@/components/ui/Breadcrumbs.astro';
import Layout from '@/layouts/Layout.astro';
import CartItem from './components/CartItem.astro';
import CartFooter from './components/CartFooter.astro';

const path: string[] = ['Магазин мужской одежды', 'Каталог', 'корзина'];
---

<Layout>
  <div class='cart'>
    <div class='cart__container container'>
      <div class='cart__wrapper'>
        <Breadcrumbs class='cart__breadcrumbs' path={path} />
        <h1 class='cart__title page-title'>Корзина</h1>
        <div class='cart__items'>
          {Array.from({ length: 3 }).map(() => <CartItem />)}
        </div>
        <CartFooter />
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'></style>
