---
import Breadcrumbs from '@/components/ui/Breadcrumbs.astro';
import Layout from '@/layouts/Layout.astro';
import CartItem, { type ICartProps } from './components/CartItem.astro';
import CartFooter from './components/CartFooter.astro';
import CartPrice from './components/CartPrice.astro';

const path: string[] = ['Магазин мужской одежды', 'Каталог', 'корзина'];

const hitsImgs = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/home/hits/*.{jpeg,jpg,png,gif}');

const carts: ICartProps[] = [
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка Зима Финл. ПК олива Костюм Горка Зима Финл. ПК олива Костюм Горка Зима Финл. ПК олива',
    oldPrice: '13 000 000',
    price: '5 200',
    count: '9',
    totalPrice: '41 600',
    dimensionCount: 10,
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка Зима Финл. ПК олива',
    oldPrice: '13 000',
    price: '5 200 000',
    count: '9',
    totalPrice: '41 600',
    dimensionCount: 1,
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка Зима Финл. ПК олива',
    oldPrice: '13 000',
    price: '5 200',
    count: '900',
    totalPrice: '41 600',
    dimensionCount: 15,
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13',
    price: '5',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13 000 000',
    price: '500000',
    count: '1',
    totalPrice: '41',
    dimensionCount: 0
  },
  {
    image: hitsImgs['/src/assets/img/home/hits/hits-slide-image.png'](),
    name: 'Костюм Горка',
    oldPrice: '13 000',
    price: '500',
    count: '100',
    totalPrice: '41',
    dimensionCount: 0
  },
];
---

<Layout footer={false}>
  <div class='cart'>
    <div class='cart__container container'>
      <div class='cart__wrapper'>
        <div class='cart__top'>
          <Breadcrumbs class='cart__breadcrumbs' path={path} />
          <h1 class='cart__title page-title'>Корзина</h1>
        </div>
        <div class='cart__body'>
          <div class='cart__items'>
            {carts.map((cart) => <CartItem {...cart} />)}
          </div>
          <div class='cart__body-bottom'>
            <div class='cart__sticky'>
              <CartPrice />
              <CartFooter />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  .cart {
    padding-top: 14px;

    @include media('xl') {
      padding-top: 28px;
    }

    &__container {
    }

    &__top {
    }

    &__wrapper {
      padding-bottom: var(--cart-footer-height);

      @include media('lg') {
        padding: 0;
      }
    }

    &__body {
      @include media('lg') {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 396px;
      }

      @include media('xl') {
        gap: 32px;
        grid-template-columns: 1fr 586px;
      }
    }

    &__body-bottom {
    }

    &__sticky {
      @include media('lg') {
        position: sticky;
        top: var(--header-height);
        border-top: 1px solid var(--light-2);
      }
    }

    &__breadcrumbs {
    }

    &__title {
      margin-bottom: 20px;
    }

    &__items {
      border-top: 1px solid var(--light-2);
      border-bottom: 1px solid var(--light-2);
    }
  }

  .page-title {
  }
</style>
