---
import Breadcrumbs from '@/components/ui/Breadcrumbs.astro';
import Layout from '@/layouts/Layout.astro';
import Filters from './components/Filters.astro';
import CardList from './components/CardList.astro';
import Pagination from '@/components/ui/Pagination.astro';
import SliderSection from '@/components/shared/SliderSection.astro';

const path: string[] = ['Магазин мужской одежды', 'одежда', 'для охоты и рыбалки', 'костюмы', 'костюмы'];
---

<Layout>
  <div class='inventory' data-component='inventory'>
    <div class='inventory__container container'>
      <div class='inventory__grid'>
        <div class='inventory__header' data-component='inventory-header'>
          <div class='inventory__header-content'>
            <Breadcrumbs class='inventory__breadcrumbs' path={path} />
            <h1 class='inventory__title page-title'>Костюмы</h1>
            <p class='inventory__description'>
              C отрезной нагрудной частью,  центральной застёжкой на молнию. На передних половинках обработаны два
              объёмных накладных боковых кармана, на нагрудной части  накладной карман с клапаном.
            </p>
          </div>
          <Filters class='inventory__filters' />
        </div>
        <CardList class='inventory__card-list' />
        <SliderSection
          class='inventory__slider-section'
          title='Также покупают'
          description='Текст комментария от нейросети для расшифровки'
        />
        <CardList class='inventory__card-list' />
        <Pagination class='inventory__pagination' />
        <SliderSection
          class='inventory__slider-section inventory__slider-section_bottom'
          title='Просмотренные'
          description='Текст комментария от нейросети для расшифровки'
        />
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  .inventory {
    padding-top: 12px;

    @include media('md') {
      padding-top: 14px;
    }

    @include media('lg') {
      padding-top: 16px;
    }

    &.opened {
      .inventory__breadcrumbs {
        display: none;
      }

      .inventory__header {
        overflow: visible;
      }

      .inventory__header-content {
        display: none;
      }
    }

    &__container {
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4px;
      overflow: hidden;

      @include media('lg') {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
      }
    }

    &__row {
    }

    &__breadcrumbs {
    }

    &__header {
      position: relative;
      overflow: hidden;
      grid-column: 1 / span 2;

      @include media('lg') {
        overflow: auto;
        grid-column: 1 / span 1;
      }
    }

    &__title {
      @include media('lg') {
        margin-bottom: 8px;
      }
    }

    &__description {
      display: none;

      font-family: var(--font-secondary);
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: var(--secondary);
      margin-bottom: 28px;

      @include media('lg') {
        display: block;
      }
    }

    &__filters {
      margin-bottom: 24px;

      @include media('md') {
        margin-bottom: 4px;
      }
    }

    &__cards-bottom {
    }

    &__card-list {
    }

    &__slider-section {
      grid-column: 1 / span 2;

      &:not(:last-child) {
        margin-top: 26px;
        margin-bottom: 32px;

        @include media('md') {
          margin-bottom: 64px;
        }

        @include media('md') {
          margin-top: 48px;
        }
      }

      @include media('lg') {
        grid-column: 1 / span 4;
      }

      &_bottom {
        margin-bottom: 40px;

        @include media('md') {
          margin-bottom: 96px;
        }

        @include media('lg') {
          margin-bottom: 128px;
        }
      }
    }

    &__pagination {
      border-top: 1px solid var(--light-2);
      grid-column: 1 / span 2;
      padding: 8px 0;
      margin-bottom: 42px;

      @include media('md') {
        margin-bottom: 48px;
      }

      @include media('lg') {
        grid-column: 1 / span 4;
      }

      @include media('xl') {
        margin-bottom: 52px;
      }
    }
  }
</style>
