---
import type { HTMLAttributes } from 'astro/types';

interface Props extends Pick<HTMLAttributes<'section'>, 'class'> {
  direction?: 'left' | 'right';
}

const { direction = 'left', class: className, ...rest } = Astro.props;
---

<section class:list={['category-block', direction, className]} {...rest}>
  <div class='category-block__container container'>
    <div class='category-block__blocks'>
      <div class='category-block__block-left'>
        <slot name='left' />
      </div>
      <div class='category-block__block-right'>
        <slot name='right' />
      </div>
    </div>
  </div>
</section>

<style lang='scss'>
  .category-block {
    &__container {
    }

    &__blocks {
      display: flex;
      flex-direction: column;
      gap: 38px;
      overflow: hidden;

      @include media('md') {
        overflow: visible;
      }

      @include media('lg') {
        overflow: hidden;
        display: grid;
        gap: 0;
        grid-template-columns: 50vw 1fr;
      }
    }

    &__block-left {
      @include media('md') {
        margin: 0 -8px;
      }

      @include media('lg') {
        margin: 0;
      }

      .right & {
        grid-column: 2;
      }
    }

    &__block-right {
      .right & {
        grid-row: 1;
        grid-column: 1;
      }
    }
  }
</style>
