---
import BackgroundGradient from '@/components/shared/BackgroundGradient.astro';
import { Picture } from 'astro:assets';

export interface CategoryImageProps {
  backgroundImage: Promise<{ default: ImageMetadata }>;
  description?: string;
}

type Props = CategoryImageProps;

const { backgroundImage, description } = Astro.props;
---

<div class='category-image'>
  <div class='category-image__background'>
    <Picture inferSize layout='constrained' formats={['avif', 'webp']} src={backgroundImage} alt='image' />
    <BackgroundGradient class='category-image__gradient' />
  </div>
  <div class='category-image__content'>
    {description && <p class='category-image__description'>{description}</p>}
    <slot />
  </div>
</div>

<style lang='scss'>
  .category-image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    aspect-ratio: 359 / 524;
    border-radius: 12px;
    overflow: hidden;

    @include media('md') {
      border-radius: 0;
      aspect-ratio: 768 / 1024;
    }

    @include media('lg') {
      border-radius: 12px;
      aspect-ratio: 621 / 768;
    }

    @include media('xl') {
      border-radius: 16px;
      aspect-ratio: 940 / 896;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__gradient {
      @include media('lg') {
        display: none;
      }
    }

    &__content {
      position: relative;
      z-index: 10;
      padding: 16px 8px;
    }

    &__description {
      font-family: var(--font-secondary);
      font-weight: 500;
      font-style: italic;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      margin-bottom: 12px;
      color: rgba(255, 255, 255, 0.48);

      @include media('md') {
        margin-bottom: 16px;
      }

      @include media('lg') {
        display: none;
      }
    }
  }
</style>
