---
import '@fontsource-variable/sofia-sans-condensed';
import '@fontsource-variable/source-sans-3';

import Header from '../components/shared/Header.astro';
import Footer from '../components/shared/Footer.astro';

import '@splidejs/splide/css/core';
import '../styles/global.scss';
import '../styles/reset.scss';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class='layout'>
      <Header />
      <main class='layout__main'>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style lang='scss'>
  .layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    gap: 12px;
    overflow-y: hidden;
    max-width: 100vw;

    &__main {
      overflow: hidden;
    }
  }

  .header-container {
    overflow: hidden;
  }

  body {
    overflow-x: hidden;
    font-family: var(--font-primary);
  }
</style>
