---
import { Icon } from 'astro-icon/components';

interface IAccordionLink {
  label: string;
  href: string;
}

export interface IAccordion {
  label: string;
  links: IAccordionLink[];
}

type Props = IAccordion;

const { label, links, ...rest } = Astro.props;
---

<div class='accordion' data-component='accordion' {...rest}>
  <button class='accordion__trigger' data-component='accordion-trigger'>
    <span>{label}</span>
    <div class='accordion__trigger-icon'>
      <Icon name='arrow-down' />
    </div>
  </button>
  <div class='accordion__body' data-component='accordion-body'>
    {
      links.map(({ label, href }) => (
        <a class='accordion__link' href={href}>
          {label}
        </a>
      ))
    }
  </div>
</div>

<style lang='scss'>
  .accordion {
    &__trigger {
      cursor: pointer;
      padding: 10px 12px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--light);
      width: 100%;

      font-family: var(--font-primary);
      color: var(--secondary);
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;

      @include media('md') {
        font-size: 13px;
      }

      .open & {
        margin-bottom: 4px;
      }
    }

    &__trigger-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8px;
      height: 4px;

      .open & {
        transform: rotate(180deg);
      }
    }

    &__body {
      display: none;

      .open & {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }

    &__link {
      padding: 10px 12px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;
      @include border(1px, var(--light-2));
      transition: color 0.3s ease-in-out;

      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--dark);

      &:hover {
        color: var(--primary);
      }

      @include media('md') {
        font-size: 13px;
      }
    }
  }
</style>

<script>
  document.querySelectorAll<HTMLDivElement>("[data-component='accordion']").forEach((item) => {
    item.querySelector<HTMLDivElement>("[data-component='accordion-trigger']")?.addEventListener('click', () => {
      item.classList.toggle('open');
    });
  });
</script>
