---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'input'>;

const { class: className, placeholder, ...rest } = Astro.props;
---

<div class:list={['input-file', className]} {...rest}>
  <input class='input-file__input' type='file' />
  <div class='input-file__placeholder'>{placeholder}</div>
</div>

<style lang='scss'>
  .input-file {
    position: relative;
    padding: 10px 12px;
    background-color: transparent;
    height: 48px;
    @include border(1px, var(--light-2));
    border-radius: 8px;
    cursor: pointer;

    @include media('lg') {
      height: 56px;
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &__placeholder {
      font-weight: 800;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: var(--primary);
    }
  }
</style>
